<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <form>
    <div class="topnav" >
      <a routerLink="/dashboard"   routerLinkActive="activebutton" >Home</a>
      <a  routerLink="/mycourses" routerLinkActive="activebutton"> My Courses</a>
     <a routerLink="/createcourses" routerLinkActive="activebutton">Create Courses</a>
      
      
      <a routerLink="">Log out </a> 
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    
    </div>
     
        </form>



<div style="padding-left:16px">
  
 
</div>



</body>
</html>

